<div class="email_change_container">
    <label for="email">{{t "New email" }}</label>
    <input type="text" name="email" value="{{ page_params.delivery_email }}" autocomplete="off" spellcheck="false" autofocus="autofocus"/>
    <div class="alert-notification change_email_info"></div>
</div>
